/* src/index.css */
body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border: 2px solid black;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  border: 1px solid black;
}

input {
  width: 100%;
  border: none;
  text-align: left;
  background-color: white;

}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

h1 {
  text-align: center;
  color: #4CAF50;
}